<a href="https://colab.research.google.com/github/seawavve/Wanted-Pre-Onboarding-AIML/blob/main/%EA%B8%B0%EC%97%85%EA%B3%BC%EC%A0%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q3. Q1, Q2의 답을 자유양식으로 작성 후 PDF로 변환하여 첨부.  
(영어로 작성 선호하지만 선택 사항임).

### Setup

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas
data = pandas.read_csv('./drive/MyDrive/onboarding/pretest_data.csv')
data.head()

  video_id channel_id  ... on_channel_total_videos off_channel_total_videos
0    V-0db    CH49ta0  ...                    5947                     5950
1    V-1XL    CHZVD--  ...                      70                       70
2    V-4fa    CH9w-h_  ...                   34270                    34341
3    V-5ip    CHUQVGX  ...                     224                      224
4    V-5jn    CHhI3EX  ...                      21                       21

[5 rows x 25 columns]

### Q1
Q1. 데이터 타입별 시각화 (자유양식).    
◦ 전체기간 카테고리->채널->비디오 개수.  
◦ 월별 카테고리->채널->비디오 개수. 
◦ 월별 TOP10 채널 (분류 기준은 비디오 개수).  
◦ 주별 TOP5 채널 (분류 기준은 비디오 개수).  
◦ 월별 카테고리별 태그 키워드 순위.

In [ ]:
# pyplot 사용할 예정
# 전체기간 카테고리->채널->비디오 개수

In [ ]:
# 월별 카테고리->채널->비디오 개수

In [ ]:
# 월별 TOP10 채널 (분류 기준은 비디오 개수)

In [ ]:
# 주별 TOP5 채널 (분류 기준은 비디오 개수)

In [ ]:
# 월별 카테고리별 태그 키워드 순위

### Q2
각각의 비디오는 시청자의 호응도(engagement)를 판단할수 있는 객관적인 지표들이 있음.
ex) views, likes, dislikes, comments,...
비디오를 인기 동영상 기준에 부합하도록 분류할수 있는 새로운 지표를 개발하고.
이 지표를 사용하여 engagement 와 어떤 상관관계가 있는지 설명하시오.